@page "/"

<h3>Empleados</h3>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    @*<div class="card-deck">
        @foreach (var employee in Employees)
        {
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div class="card-header">
                    <h3>@employee.FirstName @employee.LastName</h3>
                </div>

                <img class="card-img-top imageThumbnail" src="images/male.png" />

                <div class="card-footer text-center">
                    <a href="@($"/employeedetails/{employee.EmployeeId}")" class="btn btn-primary m-1">View</a>
                    <a href="@($"/employeeedit/{employee.EmployeeId}")" class="btn btn-primary m-1">Edit</a>
                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }
    </div>

    <br />*@

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Departamento</th>
                <th scope="col">Estatus</th>
                @*<th scope="col"></th>*@
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Employees)
            {
            <tr>
                <th scope="row">@employee.EmployeeId</th>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Phone</td>
                <td>@employee.Department.LongDesc</td>
                @if (@employee.IsActive)
                {
                    <td><button class="btn btn-primary" @onclick="(() => ChangeStatus_Click(employee))">Activo</button></td>
                }
                else
                {
                    <td><button class="btn btn-danger" @onclick="(() => ChangeStatus_Click(employee))">Inactivo</button></td>
                }

                <td>@*<a href="@($"/employeedetails/{employee.EmployeeId}")" class="btn btn-primary m-1">Ver</a>*@</td>
                <td><a href="@($"/employeeedit/{employee.EmployeeId}")" class="btn btn-primary m-1">Editar</a></td>
            </tr>
            }
        </tbody>
    </table>
}
