@page "/"

<h3>Empleados</h3>

<div class="card">
    <div class="card-header">
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">
                Nombre
            </label>
            <div class="col-sm-4">
                <Input id="firstName" class="form-control form-control-sm" placeholder="Nombre" @bind-value="SearchFirstName" @bind-value:event="oninput"/>
            </div>

            <label for="lastName" class="col-sm-2 col-form-label">
                Apellido
            </label>
            <div class="col-sm-4">
                <input id="lastName" class="form-control form-control-sm" placeholder="Apellido" @bind-value="SearchLastName" @bind-value:event="oninput"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">
                Estatus
            </label>

            <div class="col-sm-4">
                <select class="form-control form-control-sm" name="Estatus" id="status" @bind-value="SearchIsActive" @bind-value:event="oninput">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                    <option value="todo">Todo</option>
                </select>
            </div>

            <div class="col-sm-6">
            </div>
        </div>

        <div class="form-group row d-flex justify-content-between">
            <div>
                <button class="btn btn-primary btn-sm" @onclick="EmployeeSearch_Click"><span class="oi oi-magnifying-glass" aria-hidden="true"></span> Buscar</button>

                <NavLink href="/employeeedit">
                    <button class="btn btn-primary btn-sm"><span class="oi oi-plus" aria-hidden="true"></span> Agregar</button>
                </NavLink>
            </div>
        </div>

    </div>
</div>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Departamento</th>
                <th scope="col">Estatus</th>
                @*<th scope="col"></th>*@
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Employees)
            {
                <tr>
                    <th scope="row">@employee.EmployeeId</th>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Phone</td>
                    <td>@employee.Department.LongDesc</td>
                    @if (@employee.IsActive)
                    {
                        <td><button class="btn btn-success btn-sm" @onclick="(() => ChangeStatus_Click(employee))">Activo </button></td>
                    }
                    else
                    {
                        <td><button class="btn btn-danger btn-sm" @onclick="(() => ChangeStatus_Click(employee))">Inactivo</button></td>
                    }

                    @*<td><a href="@($"/employeedetails/{employee.EmployeeId}")" class="btn btn-primary m-1">Ver</a></td>*@
                    <td><a href="@($"/employeeedit/{employee.EmployeeId}")" class="btn btn-primary btn-sm">Editar</a></td>
                </tr>
            }
        </tbody>
    </table>
}
