@page "/reportsummary"
@using System.Globalization

<h4>Reporte Acumulado</h4>

@if (Employees == null || ReportSummaryList == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card">
        <div class="card-header">

            <div class="form-group row">
                <label for="employeeId" class="col-sm-2 col-form-label">
                    Empleado
                </label>
                <div class="col-sm-4">
                    <select style="padding-left:0; padding-right:0; border-left:0; border-right:0; border:none; outline:0px;" class="form-control form-control-sm" name="EmployeeId" id="employeeId" @bind-value="EmployeeId" @bind-value:event="oninput">
                        <option value="0">Todos</option>
                        @foreach (var employee in Employees)
                        {
                            <option value="@employee.EmployeeId">@employee.FirstName @employee.LastName</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">

                <label for="dateInit" class="col-sm-2 col-form-label">
                    Fecha Inicial
                </label>
                <div class="col-sm-4">
                    <input type="date" id="dateInit" name="dateInit" @bind-value="DateInit" @bind-value:event="oninput" />
                </div>

                <label for="date" class="col-sm-2 col-form-label">
                    Fecha Final
                </label>
                <div class="col-sm-4">
                    <input type="date" id="date" name="date" @bind-value="DateEnd" @bind-value:event="oninput" />
                </div>

            </div>

            <div class="form-group row d-flex justify-content-between">
                <div>
                    <button class="btn btn-primary btn-sm" @onclick="ReportSummarySearch_Click"><span class="oi oi-magnifying-glass" aria-hidden="true"></span> Buscar</button>
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <h3 class="d-flex align-items-center"><span class="badge badge-pill badge-primary">@EmployeeName</span></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <table class="table table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th class="backGray" scope="col">Nombre Empleado</th>
                        <th class="backGray" scope="col">Estancia Acumulado</th>
                        <th class="backGray" scope="col">Descansos Disponible</th>
                        <th class="backGray" scope="col">Descansos Utilizados</th>
                        <th class="backGray" scope="col">Dias Que Se Deben</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in ReportSummaryList)
                    {
                        int employeeId = report.EmployeeId;
                        string employeeName = $"{report.FirstName} {report.LastName}";
                        <tr style="cursor: pointer;" @onclick="() => SummaryDetailSearch_Click(employeeId, employeeName)">

                            <th scope="row">@report.FirstName @report.LastName</th>
                            <td class="EColor">@report.EstanciaAcumulado</td>
                            <td>@report.DescansosDisponible</td>
                            <td class="DColor">@report.DescansosUtilizados</td>
                            <td>@report.DiasQueSeDeben</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-sm-3">
            @if (ReportSummaryGroupList != null)
            {
                <table class="table table-hover table-sm table-bordered">
                    <thead>
                        <tr>
                            <th class="backGray" scope="col">E</th>
                            <th class="backGray" scope="col">D</th>
                            <th class="backGray" scope="col">Mes</th>
                            <th class="backGray" scope="col">Año</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var report in ReportSummaryGroupList)
                        {
                            <tr>
                                <td>@report.E</td>
                                <td>@report.D</td>
                                <td>@( new CultureInfo("Es-Es").DateTimeFormat.GetMonthName(@report.Date.Month))</td>
                                <td>@report.Date.Year</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>

        <div class="col-sm-3">
            @if (ReportSummaryDetailList != null)
            {

                <table class="table table-hover table-sm table-bordered">
                    <thead>
                        <tr>
                            <th class="backGray" scope="col">Tipo Asistencia</th>
                            <th class="backGray" scope="col">Fecha</th>
                            <th class="backGray" scope="col">Comentarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var report in ReportSummaryDetailList)
                        {
                            int employeeId = report.EmployeeId;
                            string classTDColor = $"{report.AttendanceType}Color";
                            <tr class="@classTDColor">
                                <td>@report.AttendanceType</td>
                                <td>@report.Date.ToString("dd")/@( new CultureInfo("Es-Es").DateTimeFormat.GetMonthName(report.Date.Month))/@report.Date.ToString("yyyy")</td>
                                <td style="white-space: pre-line">@report.Comment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>

    </div>
}


